<div class="w-[90%] mx-auto my-32">
  <div class="w-full mx-auto text-left flex items-center justify-between">
    <div class="w-1/3">
      <h2 class="kefir text-2xl md:text-3xl lg:text-4xl font-bold text-gray-900 mb-6 leading-tight">
        Made for parents. <br/>By parents.
      </h2>

      <p class="text-lg mb-12">
        We’re not a big beauty lab or a faceless brand — we’re parents, just like you. Amma & Fay was born from late-night Google searches, label-reading marathons, and the deep desire to give our kids something better.
      </p>

      <a class="text-base font-[500] hover:underline flex items-center gap-2">Our Story — Amma & fay {% render 'icon-right' %}</a>
    </div>

    <div class="relative w-1/2 flex items-center justify-center h-[400px]">
      <img src="{{ 'Story.png' | file_img_url: 'master' }}" class="absolute h-[400px] -translate-x-24 z-1 transition-transform duration-300 hover:scale-105" />
      <img src="{{ 'Story.png' | file_img_url: 'master' }}" class="absolute h-[400px] translate-x-24 rotate-30 z-3 transition-transform duration-300 hover:scale-105" /> 
    </div>
  </div>
</div>