<style>
  .newsletter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ 'newsletter_img.png' | file_img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
  }
</style>

<div class="h-[50vh] w-full newsletter flex items-center justify-center mt-48">
  <div class="w-[90%] md:w-1/2 text-white text-center">
    <h1 class="font-[600] calvino text-2xl md:text-4xl">Join Our Circle</h1>
    <p class="my-4 text-sm md:text-base">SUBSCRIBE TO OUR NEWSLETTER AND GET 10% OFF YOUR FIRST ORDER.</p>
    <div class="w-full relative">
      {% form 'customer' %}

        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <p class="font-bold">Email Added</p>
        {% else %}
          <div class="flex justify-start items-center mx-auto">
            <input
              type="email"
              name="contact[email]"
              placeholder="Email Address"
              class="w-[90%] placeholder:text-white bg-transparent border-b border-solid border-[#fff] p-4 outline-none" />

            <button type="submit" class="relative text-[#fff]">{% render 'icon-right' %}</button>
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
</div>