<div class="w-[90%] mx-auto my-32">
  <div class="w-full md:w-1/2 mx-auto text-center">
    <h2 class="uppercase text-base font-[500] text-[#6B7280] text-sm md:text-base">Heading or quote here</h2>

    <div class="clients flex items-center justify-center my-8 md:my-16 flex-wrap gap-8 md:gap-16 [&>img]:h-[30px]">
      <img src="{{ 'vogue.png' | file_img_url: "master" }}" />
      <img src="{{ 't_c.png' | file_img_url: "master" }}" />
      <img src="{{ 'jck.png' | file_img_url: "master" }}" />
      <img src="{{ 'Skim.png' | file_img_url: "master" }}" />
    </div>

    <h1 class="text-2xl md:text-4xl font-[600] calvino">
      “Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate“
    </h1>
  </div>
</div>