body {
    background-color: #fff;
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

@font-face {
  font-family: 'Kefir';
  src: url('https://cdn.shopify.com/s/files/1/0945/3669/6115/files/Kefir-Bold.woff2') format('woff2');
}

.kefir{
    font-family: 'Kefir', sans-serif;
}